<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alarmingo">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alarmingo">
        <activity
            android:name=".PomodoroActivity"
            android:exported="false" />
        <activity
            android:name=".Puzzle2"
            android:exported="false" />
        <activity
            android:name=".WorkoutCompleteScreen"
            android:exported="false" />
        <activity
            android:name=".WorkoutRest"
            android:exported="false" />
        <activity
            android:name=".WorkoutDeetsReps"
            android:exported="false" />
        <activity
            android:name=".WorkoutDeetsTime"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WorkoutHome"
            android:exported="false" />
        <activity
            android:name=".Puzzle1"
            android:exported="false" />
        <activity
            android:name=".WorkoutList"
            android:exported="false" />
        <activity
            android:name=".AlarmRingScreen"
            android:exported="false" /> <!--  -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".AlarmList"
            android:exported="true" />

        <receiver android:name=".AlertReceiver" />
    </application>

</manifest>